<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Hajime Poker</title>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
</head>
<body>
  <header>
    <h1 id='title'>Hajime Poker</h1>
  </header>
  Your Name ▶ 
  <input type="text" id="input_name" maxlength='15' placeholder='Please enter a name'>
<div class="room_button">
  <div>
    <button id='roomUsakapi'>ROOM Usakapi ONLY</button>
  </div>
  <div>
    <button id='room1'>ROOM 1</button>
  </div>
  <div>
    <button id='room2'>ROOM 2</button>
  </div>
  <div>
    <button id='room3'>ROOM 3</button>
  </div>
  <div>
    <button id='room4'>ROOM 4</button>
  </div>
  <div>
    <button id='room5'>ROOM 5</button>
  </div>
</div>
</body>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/entrance_script.js"></script>
</html>