<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Hajime Poker</title>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>
<body>
hogehoge
<button id='room1'>ROOM1</button>
<button id='room2' >ROOM2</button>
<a href ="/"> 最初のページ　へ </a>
</body>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script>
var socketio = io();
// 部屋に入る
document.getElementById("room1").onclick = function() {
  var selectRoom = 'testroom';//ここで部屋名を決められる
  socketio.emit('from_client', { value: selectRoom });
    console.log("ルーム情報を配信: " + selectRoom);
}
// ルームに参加
socketio.on('joinResult', function(result) {
    console.log("ルームへ入室", result.room)
    // $("#room").text("接続しているルーム: " + result.room);
});

// 特定のルームにメッセージを送る
document.getElementById("room2").onclick = function() {
  // socketio.to('testroom').emit('receiveMessage', { name: name, message: message });
  var name = '小松'
  var message = 'testroomに届け'
  console.log('button2')
  // socketio.emit('from_client_message', name, message);
  socketio.emit('from_client_message', name);
}

// メッセージ受信
// サーバから来たメッセージの受信
socketio.on('from_server', function(data) {
    // clientChatMessage(chatApp, data.name, data.message);
    console.log(data.name, data.message)
});
socketio.on('receiveMessage', function(data) {
        // updateChatMessage(chatApp, data.name, data.message);
        console.log(data + "room1で受け取ったなり")
});
</script>
</html>