<!-- <!DOCTYPE html> -->
<html>
  <head>
    <title>Hajime Poker</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hajime Poker</h1>
    <p>Welcome to Hajime Poker </p>
    <div class='result_bord' id='panel'></div>
    <input type="text" id="input_name" value="">
    <button id='open'>開示!!!</button>
    <button id='reset'>もう一回!!!</button>
    <div class='select_bord'>
      <button class='card' id='1'>1</button>
      <button class='card' id='2'>2</button>
      <button class='card' id='3'>3</button>
      <button class='card' id='4'>4</button>
      <button class='card' id='5'>5</button>
    </div>
  </body>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/javascripts/script.js"></script>
</html>